backports.ssl-match-hostname==3.4.0.2
#certifi==2015.4.28
Django==1.8.1
django-mysql==0.1.10
gunicorn==19.3.0
#meld3==1.0.2
MySQL-python==1.2.5
ordereddict==1.1
oursql==0.9.3.1
pymongo==3.0.1
python-memcached==1.54
requests==2.7.0
#six==1.9.0
sphinxit==0.3.2
supervisor==3.1.3
#tornado==2.4.1
