{% extends 'layout.html' %}
{% load staticfiles %}
{% load topfilter %}
{% block title %}Top Keywords & Torrents - CiLiBaBa{% endblock %}
{% block metas %}
{{block.super}}
<meta name="keywords" content="磁力巴巴,cilibaba,磁力助手,手撕包菜,磁力搜索,磁力链接,种子搜索网站,BT搜索,DHT搜索,番号搜索">
<meta name="description" content="CiLiBaBa，专业提供磁力连接搜索的网站，全网最新，千万磁力链接，可以使用迅雷、百度云等下载和浏览磁力链接的内容。">
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-4">
        <h4>Top 50 Keywords</h4>
        <ol>
            {% for x in top_keyword_daily|slice:":50" %}
            <li>
                <a href="{% url 'list' x.keyword '' %}">{{x.keyword}} ({{x.pv}})</a>
            </li>
            {% endfor %}
        </ol>
    </div>

    <div class="col-md-8">
        <h4>Top 50 Torrents</h4>
        <ol>
            {% for x in top_hash_daily|slice:":50" %}
            <li>
                <a href="{% url 'hash' x.hash_id %}">{{x.hash_id | hash_name}} ({{x.pv}})</a>
            </li>
            {% endfor %}
        </ol>
    </div>

    <p class="text-muted">Calcualted from the last 24 hours data.</p>
</div>
{% include 'foot.html' %}
{% endblock %}

{% block scripts %}
{{block.super}}
<script>
</script>
{% endblock %}

