
<nav class="navbar navbar-default nav-foot" role="navigation">
    <div class="container">
        <div class="">
            <h5>关于手撕包菜</h5>
            <p>手撕包菜是一个基于DHT协议的BT资源搜索引擎，所有资源来源于爬虫24小时从DHT网络自动抓取，所有排行数据由程序自动生成。我们不存储任何资源和种子文件，只索引种子meta信息并提供搜索服务。 

                <a href="/howto/">在线播放</a> ｜
                <a href="http://jingyan.baidu.com/article/642c9d34c2bca2644a46f72b.html">下载种子</a>
            <h5>关于磁力链接</h5>
            <p>磁力链接(<a href="http://en.wikipedia.org/wiki/Magnet_link">Magnet URI Scheme</a>)是一种新型的分享形式，每个链接对应一个BT种子文件。您可以通过软件下载磁力链接指向的资源，例如迅雷、BitComet、QQ旋风，也可以使用云点播服务在线观看影视资源，例如迅雷云播、百度云盘等。
        </div>
        <div class="navbar-header">
            <div class="copyright">
            &copy; 2013 ~ 2015 www.shousibaocai.com
            </div>
        </div>
    </div>
</nav>


