{% extends 'layout.html' %}
{% block title %}如何播放磁力链接 | 磁力巴巴{% endblock %}
{% block metas %}
{{block.super}}
<meta name="keywords" content="磁力搜索,磁力链接,种子搜索网站,BT搜索,DHT搜索">
<meta name="description" content="磁力巴巴如何播放磁力链接">
{% endblock %}

{% block content %}
<div class="container">
        <p>
            磁力巴巴(手撕包菜)不提供在线播放服务，您可以使用<a href="http://pan.baidu.com/" target="_blank">百度云</a>提供的播放服务。
        </p>
        <p>
            1. 搜索想看的电影，复制磁力链接：
        </p>
        <p>
            <img src="/static/howto1.png" alt="如何播放磁力链接" />
        </p>
        <p>
            2. 打开百度云，依次选择“离线下载”、“新建磁力任务”
        </p>
        <p>
            <img src="http://i2.tietuku.com/cb5a9176accc26b0.png" />
        </p>
        <p>
            <img src="http://i2.tietuku.com/917912eb942ffc70.png" />
        </p>
        <p>
            3. 粘贴磁力链接，并点击“确定”，下载成功
        </p>
        <p>
            <img src="http://i2.tietuku.com/a948def7bf87381c.png" />
        </p>
        <p>
            <img src="http://i2.tietuku.com/f07c561d84bbe709.png" />
        </p>
        <p>
            4. 点击播放
        </p>
        <p>
            <img src="http://i2.tietuku.com/437498ef7a68c795.png" />
        </p>
</div>
{% include 'foot.html' %}
{% endblock %}

{% block scripts %}
{{block.super}}
{% endblock %}

