{% extends 'layout.html' %}
{% block title %}手撕包菜 - 收录最快的磁力链接搜索引擎{% endblock %}
{% block metas %}
{{block.super}}
<meta name="keywords" content="磁力搜索,磁力链接,种子搜索网站,BT搜索,DHT搜索">
<meta name="description" content="磁力搜索(手撕包菜)是一个专业提供磁力连接搜索的网站，索引全网上千万磁力链接，又被誉为BT种子搜索神器。也是国内最大的磁力链接的发现和分享社区。">
{% endblock %}

{% block content %}
<form class="x-sform">
<div class="container">
    <div class="div-search-box col-lg-offset-2 col-lg-8">
        <div class="logo">
            <img src="/static/ssbc.png" />
        </div>
        <div>
            <div class="input-group">
                <input placeholder="搜索电影、电视剧、明星、游戏..." autocomplete="off" type="text" class="form-control x-kw" name="s">
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> 磁力搜索</button>
                </span>
            </div>
        </div>
        <div class="good">
            <p>
            {% for r in reclist%}
                <a href="/search/{{r.keyword|urlencode}}/">{{r.keyword}}</a> &nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}
            </p>
            <p class="tips2">
                <!--
                <span style="color:red;">资源交流群：102900082(满)  网站建设群：178886628Q（限忠实粉丝加群，白菜勿进）</span>
                -->
                <p><a href="/howto/">如何免费在线播放磁力链接？</a>
            </p>
        </div>
        <div class="div-ads-front" style="margin-top: 40px; text-align:center; margin-left: 0px;">
        </div>
    </div>
</div>
</form>

{% include 'foot.html' %}
{% endblock %}

{% block scripts %}
{{block.super}}
<script>
$(function(){
    $('.x-kw').focus();
});

setTimeout(function(){
    $('.good').fadeIn('slow');
}, 500);
</script>
{% endblock %}

