{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}CiLiBaBa - 磁力搜索_磁力链接_种子搜索_番号搜索_MagnetSearch{% endblock %}
{% block metas %}
{{block.super}}
<meta name="keywords" content="磁力巴巴,cilibaba,磁力助手,手撕包菜,磁力搜索,磁力链接,种子搜索网站,BT搜索,DHT搜索,番号搜索">
<meta name="description" content="CiLiBaBa，专业提供磁力连接搜索的网站，全网最新，千万磁力链接，可以使用迅雷、百度云等下载和浏览磁力链接的内容。">
{% endblock %}

{% block content %}
<form class="x-sform">
<div class="container">
    <div class="div-search-box col-lg-offset-2 col-lg-8">
        <div class="logo">
            <img src="{% static 'cilibaba.png' %}" />
        </div>
        <div>
            <div class="input-group">
                <input placeholder="Movies, actors, or what do you want?" autocomplete="off" type="text" class="form-control x-kw" name="s">
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
                </span>
            </div>
        </div>
        <div class="good">
            <p>
            {% for r in reclist%}
                <a href="/search/{{r.keyword|urlencode}}/">{{r.keyword}}</a> &nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}
            </p>
        </div>
        <div class="div-ads-front" style="margin-top: 40px; text-align:center; margin-left: 0px;">
        </div>
    </div>
</div>
</form>
{% include 'foot.html' %}
{% endblock %}

{% block scripts %}
{{block.super}}
<script>
$(function(){
    $('.x-kw').focus();
});
setTimeout(function(){
    $('.good').fadeIn('slow');
}, 500);
</script>


{% endblock %}

