{% extends 'layout.html' %}

{% block title %}{{info.name}} 的磁力链接 - 磁力搜索{% endblock %}
{% block metas %}
{{block.super}}
<meta name="keywords" content="{{keywords|join:','}},磁力链接,BT下载,迅雷下载，在线播放" />
<meta name="description" content="{{info.name}}的磁力连接" />
{% endblock %}

{% block content %}
<div class="container">

    <div class="div-ads" style="margin-top: -10px; ">
    </div>

    <h4>{{info.name}}</h4>

    <table>
        <tr>
            <th class="col-lg-2">创建时间</th>
            <td>{{info.create_time}}</td>
        </tr>
        <tr>
            <th class="col-lg-2">更新时间</th>
            <td>{{info.last_seen}}</td>
        </tr>
        <tr>
            <th class="col-lg-2">文件大小</th>
            <td>{{info.length | filesizeformat}}</td>
        </tr>
        <tr>
            <th class="col-lg-2">关键词</th>
            <td>
            {% for kw in keywords %}
                <a alt="{{kw}} 磁力搜索" href="/search/{{kw|urlencode}}/">{{kw}}</a>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <th class="col-lg-2">请求数</th>
            <td>{{info.requests}}</td>
        </tr>
        <tr>
            <th class="col-lg-2">文件数</th>
            <td>{{info.files|length}}</td>
        </tr>
        <tr>
            <th class="col-lg-2">磁力链接</th>
            <td>
                <a target="_blank" href="{{magnet_url}}">{{info.info_hash}}</a>
                &nbsp; &nbsp;
                <a href="{{magnet_url}}"><span class="glyphicon glyphicon-download-alt"></span> 磁力链接</a>
            </td>
        </tr>
    </table>

<!--
    <a alt="download 2345" href="http://download.2345.cn/silence/2345Explorer_333561_silence.exe"><img src="/static/gaoqing.png"></a>
-->

    <h4>文件列表</h4>
    <div class="files">
        <ul>
            {% if info.files %}
                {% for y in info.files %}
                    <li>{{y.path}}  {{y.length|filesizeformat}}</li>
                {% endfor %}
            {% else %}
                <li>{{info.name}}  {{info.length|filesizeformat}}</li>
            {% endif %}
        </ul>
    </div>

    <h4>下载资源</h4>
    <div>
        如果您想下载{{info.name}}的BT种子文件或数据，请使用迅雷、QQ旋风、uTorrent等BT工具下载。<br/>
        <a href="{{download_url}}" alt="下载{{info.name}}" target="_blank">点击这里下载 《{{info.name}}》</a>
    </div>

</div>
{% include 'foot.html' %}
{% endblock %}

{% block scripts %}
{{block.super}}
<script>
</script>
{% endblock %}
