{% extends 'layout.html' %}

{% block title %}{{info.name}} Magnet Downloads - CiLiBaBa{% endblock %}
{% block metas %}
{{block.super}}
<meta name="keywords" content="{{keywords|join:','}},磁力链接,CiLiBaBa,Magnet Downloads" />
<meta name="description" content="{{info.name}} magnet links and torrent files." />
{% endblock %}

{% block content %}
<div class="container">

    <div class="div-ads" style="margin-top: -10px; ">
    </div>

    <h4>{{info.name}}</h4>

    <table>
        <tr>
            <th class="col-lg-2">Creation Time</th>
            <td>{{info.create_time}}</td>
        </tr>
        <tr>
            <th class="col-lg-2">Last Access Time</th>
            <td>{{info.last_seen}}</td>
        </tr>
        <tr>
            <th class="col-lg-2">File Size</th>
            <td>{{info.length | filesizeformat}}</td>
        </tr>
        <tr>
            <th class="col-lg-2">Keywords</th>
            <td>
            {% for kw in keywords %}
                <a alt="{{kw}} 磁力搜索" href="/search/{{kw|urlencode}}/">{{kw}}</a>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <th class="col-lg-2">Total Requests</th>
            <td>{{info.requests}}</td>
        </tr>
        <tr>
            <th class="col-lg-2">Total Files</th>
            <td>{{info.files|length}}</td>
        </tr>
        <tr>
            <th class="col-lg-2">Magnet Link</th>
            <td>
            {% if info.extra.blacklist %}
                <p style="color:red;">
                Sorry! The related magnet link for this resource is deleted.
                </p>
            {% else %}
                <a target="_blank" rel="nofollow" href="{{magnet_url}}">magnet:?xt=urn:btih:{{info.info_hash}}</a>
                &nbsp; &nbsp;
                <a target="_blank" ref="nofollow" href="{{magnet_url}}"><span class="glyphicon glyphicon-download-alt"></span> Download (磁力链接)</a>
                &nbsp; &nbsp;
                <a class="title x-play" rel="nofollow" 
                    href="http://pan.baidu.com/disk/home?ssbc_magnet={{info.info_hash}}"
                    data-url="http://pan.baidu.com/disk/home?ssbc_magnet={{info.info_hash}}"
                    target="_blank">
                    <span class="glyphicon glyphicon-play"></span> Play (在线观看)</a>
            {% endif %}
            </td>
        </tr>
    </table>

<!--
    <a alt="download 2345" href="http://download.2345.cn/silence/2345Explorer_333561_silence.exe"><img src="/static/gaoqing.png"></a>
-->

    <h4>File List</h4>
    <div class="files">
        <ul>
            {% if info.files %}
                {% for y in info.files %}
                    <li>{{y.path}}  {{y.length|filesizeformat}}</li>
                {% endfor %}
            {% else %}
                <li>{{info.name}}  {{info.length|filesizeformat}}</li>
            {% endif %}
        </ul>
    </div>

    <h4>Download Torrent</h4>
    <div>
        If you want to get the torrent file or original data of {{info.name}}, please use uTorrent, BitTorrent or Thunder.<br/>
        <a rel="nofollow" href="{{download_url}}" alt="Get {{info.name}}" target="_blank">Click here to locate the torrent file of {{info.name}}</a>
    </div>

    <h4>Copyright Infringement</h4>
    <div>
        If the content above is not authorized, please contact us via contact[AT]cilibaba.com.
    </div>

</div>
{% include 'foot.html' %}
{% endblock %}

{% block scripts %}
{{block.super}}
<script>
$.get("{% url 'top_log'%}?type=hash&hash={{info.id}}");
</script>
{% endblock %}
