
html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}


.highlight {
	color: red;
}


a{
	color: #1a0dab;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
